
.reviewLine{
  margin-top:5px;
  width:100%;
  display:block;
  float:left;
}
.card-title{
  display:block;
  margin-top: 10px;
}
.mainLayout{
  max-width:1024px;
  margin: auto auto;
}
.deleteClass{
  color: #ff0000;
  cursor: pointer;
}
